:root {
  --gold: hsl(37, 52%, 53%);
  --salmon: hsl(37, 52%, 83%);
  --dark-gray: hsl(0, 0%, 20%);
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.button {
  background-color: var(--gold);
  border-radius: 10px;
  border: none;
}

.button:hover {
  background-color: var(--salmon);
  color: var(--dark-gray);
}
