:root {
  --gold: hsl(37, 52%, 53%);
  --salmon: hsl(37, 52%, 83%);
  --dark-gray: hsl(0, 0%, 20%);
}

.button {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--gold);
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 10px;
  border: none;
}

.button:hover {
  background-color: var(--salmon);
  color: var(--dark-gray);
}
